.shopping{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.shops{
    position: sticky;
    top: 80px;
    display: flex;
    flex-basis: 30vw;
    align-self: flex-start;
    flex-direction: column;
    row-gap: 5vh;
    padding: 10px;
}

.meal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 60%;
    row-gap: 20px;
}